<h1>Daddy Shap's House of Prime Rib</h1>
<h1 class="center">All My Meats</h1>
<div class="center card red darken-4">
  <div class="card-content white-text">
    <h3>New Tasty Meats, Yo</h3>
    <a href="/meats/new" class="btn">Slang Meat</a>
  </div>
</div>
<div class="center card red darken-4">
  <div class="card-content white-text">
    <h3>View Apps</h3>
    <a href="/meats" class="btn">Look At My Meats</a>
  </div>
</div>
