<h1 class="center">Daddy Shapiro's Meat House</h1>
<h2 class="center">All My Meats</h2>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="images/rl.jpg">
        <div class="caption center-align">
          <h3 class="pics">Rack of Lamb</h3>
          <h5 class="light grey-text text-lighten-3">Mmmm. Meat Popsicles</h5>
        </div>
      </li>
      <li>
        <img src="images/pic.jpg">
        <div class="caption left-align">
          <h3>Churrasco Top Sirloin</h3>
          <h5 class="light grey-text text-lighten-3">Brazilian Favorite</h5>
        </div>
      </li>
      <li>
        <img src="images/ling.jpg">
        <div class="caption right-align">
          <h3>Linguica</h3>
          <h5 class="light grey-text text-lighten-3">Delicious Pork Sausage</h5>
        </div>
      </li>
      <li>
        <img src="images/pr.jpg">
        <div class="caption center-align">
          <h3>Succulent Prime Rib</h3>
          <h5 class="light grey-text text-lighten-3">Daddy Shapiro's Specialty</h5>
        </div>
      </li>
      <li>
        <img src="images/rib.jpg">
        <div class="caption center-align">
          <h3>Bone in Tamahawk Ribeye</h3>
          <h5 class="light grey-text text-lighten-3">The King of Steaks</h5>
        </div>
      </li>
    </ul>
  </div>


<div class="center card brown darken-3">
  <div class="card-content white-text">
    <h4>View Meats</h4>
    <a href="/meats" class="btn">Look At My Meats</a>
  </div>
</div>
<div class="center card brown darken-3">
  <div class="card-content white-text">
    <h4>Add Tasty Meat</h4>
    <a href="/meats/new" class="btn">Add New Menu Item</a>
  </div>
</div>
