<h1 class="center">Daddy Shapiro's House of Tasty Meats</h1>
<h2 class="center">All My Meats</h2>
<div class="center card brown darken-3">
  <div class="card-content white-text">
    <h3>View Meats</h3>
    <a href="/meats" class="btn">Look At My Meats</a>
  </div>
</div>
<div class="center card brown darken-3">
  <div class="card-content white-text">
    <h3>Add Tasty Meat</h3>
    <a href="/meats/new" class="btn">Add New Menu Item</a>
  </div>
</div>
