<!-- <nav class="brown darken-3">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">DaddysPrimeRib</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/meats">MENU</a></li>
      <li><a href="/meats/new">NEW MEATS</a></li>
    </ul>
  </div>
</nav> -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/meats">My Meats</a></li>
  <li><a href="/meats/new">Add New Meat</a></li>
  <li class="divider"></li>
</ul>
<nav class="brown darken-3">
  <div class="nav-wrapper">
    <a id="logo"href="/">Daddy Shapiro's House of Tasty Meats</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" data-activates="dropdown1">Options<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
