<h1 id="sup"class="center">Sup With That New Tasty Meat?</h1>
<form method="POST" action="/meats">
  <div class="input-field">
    <input id="name" required name="name" />
    <label id="kind" class="active" for="name">What Kind of Meat</label>
  </div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="desc" required name="description"></textarea>
    <label id="describe" for="desc" class="active">Description</label>
  </div>
  <button class="btn right" type="submit">Save</button>
</form>
